.balloon {
    width: 50px;
    height: 50px;
    background-color: red;
    margin: 20px 20px;
    color: transparent;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.balloonGallery {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
}

.balloonHidden {
    // visibility: hidden;
    color: black;
    background-color: transparent;
    font-size: 30px;
}

.noBalloons {
    text-align: center;
    display: none;
}